@{
    ViewBag.Title = "Faculty";
}


<body class="html front not-logged-in no-sidebars page-frontpage tao" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
    <div id="header">
<div id="header-wrapper">


		<a id="mobile-nav" href="#">
	  	<span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
<div class="view view-main-header view-id-main_header view-display-id-main_header_panel_pane view-dom-id-3af75297e8d9c0cb75674b84fce2d69e">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    

<div class="gwlogo clearfix">

  <div class="field field-name-field-logo field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img typeof="foaf:Image" src="~/images/img7.jpg" width="199" height="90" alt="Lakhvera Leads Academy" title="Lakhvera Leads Academy" /></div></div></div>
 </div>

<div class="right clearfix">
<div class="social-links clearfix">
       
</div>

<div class="clearfix">
<form method="get" action="javascript:void(0)" id="search">
    <div id="search-holder">
     
           
    </div>
  </form>
</div>
<div class="links clearfix">
                         </div>
  </div>

<div class="bottom clearfix">
<div class="target-audience">
<a href="~/Home/index" >HOME PAGE</a> 
</div>
</div>

  </div>
    </div>
  
  
  
  
  
  
</div></div>
</div>



<div id='page'><div class='limiter clearfix'>
                
        <div>


</div>
  
  <div id='main-content' class='clearfix'>
    
  
                <div id='content' class='clearfix'>  <div class="region region-content">
    <div class="panel-display panel-front-page clearfix" >
	
	  		<div class="hero-wrapper">	
    		<div class="panel-panel panel-hero">
      			<div class="inside"><div class="panel-pane pane-views-panes pane-gw-main-site-hero-rotator-panel-pane-1" >
  
      
  
  <div class="pane-content">
    <div class="view view-gw-main-site-hero-rotator view-id-gw_main_site_hero_rotator view-display-id-panel_pane_1 view-dom-id-d58c7f6586e6d226256e157a6320e2c0">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    
  <div class="rotating-large-hero">
      <ul class="responsive-slider">
  
			  		
  				      			<li class="image">
          		              <a href="#">


<div class="image">
	<img typeof="foaf:Image" src="~/images/Academy.jpg" width="940" height="378"  /></div>






</a><!-- end items -->
  				                  </li>
          			  		
  				      			<li class="image">
          		              <a href="">


<div class="image">
	<img typeof="foaf:Image" src="~/images/slide2.jpg" width="940" height="378"  /></div>






</a><!-- end items -->
  				                  </li>
          			  		
  				      			<li class="image">
          		              <a href="">


<div class="image">
	<img typeof="foaf:Image" src="~/images/slide3.jpg" width="940" height="378" /></div>






</a><!-- end items -->
  				                  </li>
          			  		
  				      			
          			
			
  		</ul><!-- end responsive-slider -->
			<div class="navigation-wrapper"><div class="navi"></div></div>
 			</div><!-- rotating large hero -->
			  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
</div>
    		</div>
		</div>
  	
      <div class="panel-panel panel-col-top">
      <div class="inside"><div class="panel-pane pane-gwu-primary-navigation" >
  
      
  
  <div class="pane-content">
    <div id="menu-wrapper"><div id="menu-top"><div class="menu-block-wrapper menu-block-2 menu-name-menu-division-menu parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="first leaf has-children menu-mlid-784"><span title=""><a href="~/Home/index">LAKHVERA LEADS</a></span></li>
<li class="leaf has-children menu-mlid-785"><span title=""><a href="~/Home/Admissions">ADMISIONS</a></span></li>

<li class="leaf has-children menu-mlid-786"><span title=""><a href="~/Faculty/Faculty">FACULTY</a></span></li>
<li class="leaf has-children menu-mlid-787"><span title=""><a href="~/Student/Student">CAMPUS LIFE</a></span></li>
<li class="leaf has-children menu-mlid-1594"><span title=""><a href="~/Home/Contact">CONTACT</a></span></li>
      <li class="last leaf has-children menu-mlid-1598"><span title=""><a href="~/Home/Admin">LOGIN</a></span></li>
</ul></div>

</div></div>  </div>

  
  </div>
</div>
    </div>
  
      <div class="panel-panel panel-col-left">
      <div class="inside"><div class="panel-pane pane-views-panes pane-featured-spotlight-ad-panel-pane-1" >
  
      
  
  <div class="pane-content">
    <div class="view view-featured-spotlight-ad view-id-featured_spotlight_ad view-display-id-panel_pane_1 view-dom-id-7e174e97826b626dff73b9961b5c375e">
        
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    
<div class='all-purpose-sidebar node node-promotion'  about="/gw-today-logo" typeof="sioc:Item foaf:Document" id="node-1302">
      <div class='image' >
              <a href="javascript:void(0)">


<div class="image">
	<img typeof="foaf:Image" src="~/images/img7.jpg" width="130" height="300" /></div>






</a>
          </div>
    <p></p>
</div>
  </div>
    </div>
  
  
  
  
  
  
</div>  </div>

  
  </div>
</div>
    </div>
  
      
      <div class="panel-panel panel-col-middle"><!-- Middle Div Start -->
         
              
                      <h1 style="color:blue">View All Faculty of Academy </h1>

                 
          <table border="0" style="background-color:aliceblue">

              <tr>
                  <td>

                      <h2>Science Department </h2>
                  </td>
                  <td>Ahmad Hassan<br />Haider Munir<br />Ali Ahmad</td>
              </tr>
              <tr>
                  <td>
                      <h2>Arts Department </h2>
                  </td>
                  <td>Zia Hassan<br />Mohaammad Munir<br />Ali Ahmad</td>
              </tr>
              <tr>
                  <td>
                      <h2>Mathematics Department </h2>
                  </td>
                  <td>Mohammad Usman<br />Mohaammad Munir<br />Ali Raza</td>
              </tr>
              <tr>
                  <td>
                      <h2>Biology Department </h2>
                  </td>
                  <td>Mohammad Bin Naeem<br />Mohaammad Haider<br />Nabeel Raza </td>
              </tr>
              <tr>
                  <td>
                      <h2>Chemistary Department </h2>
                  </td>
                  <td>Mohammad Bin Naeem<br />Mohaammad Haider<br />Nabeel Raza </td>
              </tr>
              <tr>
                  <td>
                      <h2>Computer Department </h2>
                  </td>
                  <td>Naeem Ali<br />Adeel Nisar<br />Abdullah Tariq<br />Waseem Ahmad <br />Mamoona Lakhvera</td>
              </tr>
              <tr>
                  <td>
                      <h2>Commerce Department </h2>
                  </td>
                  <td>Kamran Amjad<br />Abdul Ghaffar<br />Sadia Shahzad</td>
              </tr>
              <tr>
                  <td>
                      <h2>English Department </h2>
                  </td>
                  <td>Amjad khan<br />Serish Shamas<br />Iram Shahzad</td>
              </tr>
              <tr>
                  <td>
                      <h2>Urdu Department </h2>
                  </td>
                  <td>Saba Afzal<br />Palwasha Arshad<br />Sundas Afzal</td>
              </tr>
              <tr>
                  <td>
                      <h2>Islamiyat Department </h2>
                  </td>
                  <td>Aqsa Munir<br />Hina Tariq<br />Syed Haider</td>
              </tr>
              <tr>
                  <td>
                      <h2>Pol.Science Department </h2>
                  </td>
                  <td>Asifa Ghaffar<br />Ayesha Sajjad<br />Robab Ali</td>
              </tr>
              <tr>
                  <td>
                      <h2>L.L.B Department </h2>

                  </td>
                  <td>Anam Lakhvera<br />Neelam Shahzadi<br />Sonia Arhad</td>
              </tr>
          </table>
    </div><!-- Middle Div End -->	
        <div class="panel-panel panel-col-right"><!-- Right Div Start -->
 <img typeof="foaf:Image" src="~/images/Academy7.jpg" width="190" height="275" />

    </div><!-- Right Div End -->
    </div>
  </div>
  </div>
	</div>
  </div>

  
</div>




